body
{
	font-family: avenir;
	background-color: #F7FFFF;
}

header{
	margin-top: 3rem;
	margin-bottom: 10rem;
	color: #F7FFFF;
}

#Tête h1
{
		font-size: 75px;
		text-shadow: 2px 2px 10px rgba(0,0,00,0.25);
}
#SousTitre h6
{
		margin-top: 1rem;
		margin-left: 20rem;
		font-size: 15px;
		text-align: left;
		color: #BFBFBF;
}

#affiche
{
		margin-bottom: 3rem;
		background-color: #F7FFFF;
		padding-right: 0px;
		padding-left: 0px;
		padding-top: 33px;
		padding-bottom: 33px;
		box-shadow: 0px 20px 12px rgba(0,0,0,0.15);
		/*border-radius: 30px;*/
}

#affiche img
{
		box-shadow: 0px 5px 12px rgba(0,0,0,0.15);
		/*border-radius: 20px;*/
}

#affiche h1
{
	color: #BFBFBF;
	font-size: 60px;
}
#TexteAffiche h2
{
	color: #BFBFBF;
}

h3
{
	color: #BFBFBF;
	text-align: justify;
	margin-right: 1rem;
}

button
{
	border-radius: 50px;
	size: 50px;
}

#Jours
{
	font-size: 35px;
	margin-top: 3rem;
	margin-bottom: 0.25rem;
	color: #686B6B;;
}
